* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Myriad Pro;
}


.boxyellow {
    float: right;
    width:  105px;
    height: 105px;
    background: #ffd04f;
}

.introduce {
    float:  right;
    margin-top: 23px;
    font-weight: 400;
    color:  #fbcc4b;
    font-size: 30px;
    margin-right: 15px;
}

header {
    padding: 110px 0px  90px 0px;
    overflow: auto;
}

.introduce > p {
    text-align:  right;
}

.boxgray {
    width: 35%;
    height: 23px;
    background: #b8b5b4;
    float:  right;
}

.boxgray:after {
    clear:  right;
    clear:  left;
}

div.boxgray:after {
    clear:  right;
}

section.content-top {
    background: #242a31;
    color:  #fff;
    clear:  both;
}

article.content1 {
    clear:  right;
    padding: 20px 105px 80px 0px;
    text-align:  right;
    overflow:  auto;
}

p.text1, p.text3 {
    font-size: 52px;
    font-weight:  400;
    margin-bottom: 15px;
}

p.text2 {
    color: #fbcc4b;
    font-size: 100px;
    font-weight:  bold;
}

p.text1 {
    margin-top: 26px;
}

p.text4 {
    width: 60%;
    float: right;
    text-align: right;
}

section.content-bottom {
    background: url("../images/1.png");
    background-size: cover;
    color:  #fff;
    text-align:  right;
    position:  relative;
}

.fade {
    opacity: 0.2;
    background: #18b3e2;
    width:  100%;
    height:  100%;
    position:  absolute;
    z-index: 10;
}

article.content2 {
    position: relative;
    z-index:  20;
    padding: 90px 105px 35px 0px;
    overflow:  auto;
}

p.text5, p.text6 {
    font-size:  100px;
    font-weight:  bold;
}

.boxwhile {width: 25px;height: 85px;background:  #fff;float: right;margin-top:  30px;margin-bottom: 45px;}

p.text6 {
    clear:  right;
}

p.text6 {}

p.text7, p.text8 {
    width: 60%;
    float: right;
    margin-bottom: 40px;
}

p::after {
    clear:  right;
}


footer {
    background: #386678;
    overflow:  auto;
    padding: 75px 105px;
    padding-right: 380px;
}

footer > img {
    height: 50px;
    float: right;
    margin-right: 35px;
}

footer > img:first-child {
    margin-right: 0px;
}

main {position:  relative;}

section.boxaside {
    position:  absolute;
    top:  0;
    left:  0;
    width: 330px;
    height: 100%;
    z-index: 30;
}

.aside-top {
    margin-left: 70px;
    background: #fbcc4b;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity:  0.9;
}

.aside-bottom {}.aside-bottom {
    position:  absolute;
    bottom: 0;
    height: 439px;
    background: #242a31;
    width: 400px;
    z-index: 100;
    opacity: 1;
    text-align: left;
    padding-left: 70px;
    padding-top:  101px;
}

.aside-top {
    text-align:  center;
    color:  #fff;
    padding: 35px;
}

p.HEY {
    font-size: 100px;
    padding-top: 15px;
    font-weight:  bold;
}

p.DESIGN {
    font-size: 29px;
    margin-top: -10px;
}

span.khoitrang1 {
    margin-top: 300px;
    background: #fff;
    width: 80px;
    height: 21px;
    display:  block;
}

p.text9 {
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
    padding-right:  31px;
}

span.khoitrang2 {
    display:  block;
    width: 80px;
    height: 21px;
    background:  #fff;
    margin-top: 248px;
}

p.text10 {
    font-size: 30px;
    text-align:  left;
    margin-top: 33px;
    padding-right: 44px;
}

.aside-bottom > p {
    font-size:  30px;
    font-weight:  bold;
    color: #ddae27;
    margin-top: 45px;
}

span {}

.aside-bottom span {
    display: block;
    color:  #fff;
    padding-top:  36px;
}

.aside-bottom img {
    width: 40px;
    height: 40px;
    display:  inline-block;
}

.contact img {
    float: left;
}

.contact {
    overflow:  auto;
    margin-top: 21px;
}


.contact p {
    padding-top: 18px;
    color:  #fff;
    padding-;
    padding-left: 67px;
    font-size: 20px;
}

.contact p {
    color:  #fff;
    font-size: 23px;
}

p.text8 {
    color:  #000;
}