* {
	box-sizing: border-box;
	font-family:  Myriad Pro;
}

.box4 img:nth-child(1) {
    width: 80px;
}

.box4 img:nth-child(2) {.box4
    img: nth-child(1) {      width: 90px;  }
.box4
    img: nth-child(1) {      width: 90px;  }
    width:;
}

.box4 img:nth-child(3) {
    width:  57px;
}

.box4 img:nth-child(4) {
    width: 150px;
    margin-bottom: 50px;
}

.mo {
    position:  absolute;
    width: 1013px;
    height: 723px;
    background: #18b3e2;
    opacity:  0.5;
    top: 0;
    right:  0;
}

p.chuvang {
    color: #ffd04f;
    text-align:  center;
    margin-top: 41px;
}

.box7 {
    padding-top: 85px;
}

.box7 span {
    display:  block;
    color:  #fff;
    padding-left: 70px;
    height:  46px;
    line-height: 46px;
    text-align:  left;
}

.box7 img {
    width: 23px;
    margin-right: 17px;
}

p.text8 {
    color:  #fff;
    font-size:  33px;
    padding: 20px;
}

span.khoitrang2 {
    width: 60px;
    height: 20px;
    background: #fff;
    display: inline-block;
    margin-top: 251px;
    margin-left: 26px;
}

span.khoitrang1 {}

span.khoitrang1 {
    width: 60px;
    height: 20px;
    background:  #fff;
    display: inline-block;
    margin-top: 251px;
    margin-left:  26px;
}

p.text7 {
    margin-top: 10px;
    color:  #fff;
    font-size: 13px;
    padding: 0 25px;
}

p.DESIGN {
    color:  #fff;
    text-align:  center;
    font-size: 25px;
    margin: 0;
}

p.HEY {
    color:  #fff;
    font-size: 94px;
    margin: 0;
    padding-top: 100px;
    text-align:  center;
}

.box7 {
    width: 320px;
    height: 300px;
    background: #242a31;
}

.box6 {
    width: 270px;
    margin-left: 50px;
    background: #ffd04f;
    opacity: 0.9;
    height: 1269px;
    margin-top:  -24px;
}

.box6 {
}

body {
    position:  relative;
}

.box5 {
    position:  absolute;
    top: 0;
    left:  0;
    width: 330px;
    height:  100%;
    /* background:  red; */
}

.box4 {
    background: #386678;
    padding-left: 670px;
}

.box4 img {
    width: 62px;
    padding-left:  12px;
    height: auto;
    margin-left: 49px;
    margin-top: 50px;
    margin-bottom: 43px;
}

p.text6 {
    color: black;
}

.boxwhile {
    width: 20px;
    height: 65px;
    background:  #fff;
    margin-left: 1212px;
}

p.text4 {
    font-size: 103px;
    line-height:  0px;
}

.box3 p {
    margin-right: 10px;
    text-align: right;
    padding-left: 600px;
    padding-right: 80px;
}

p.text5 {
    color:  #fff;
}

p.text4 {
    color:  #fff;
}

.box3 {
    background-image: url("../images/1.png");
    background-size: cover;
    margin-top: -16px;
    padding-top: 55px;
    padding-bottom: 45px;
    position:  relative;
}

p.text3 {
    width: 500px;
    color: #fff;
    float: right;
    font-size: 15px;
}

p.text2 {
    font-size: 64px;
    color: #ffce49;
    line-height:  0px;
}

.box2 {
    text-align:  right;
    padding-right:  90px;
    background: #242a31;
    padding-top: 45px;
    padding-bottom:  49px;
    overflow:  auto;
}

p.text1 {
    font-size: 35px;
    line-height:  0px;
    color:  #fff;
}


.awa {
  text-align: right;
  float: right;
  display: block;
  color: #ffd04f;
  font-size:  32px;
  padding-top:  13px;
  padding-right: 18px;
}
.box1 {
  padding-top: 120px;
  padding-bottom: 190px;
}
.boxvang {
  width: 105px;
  height: 105px;
  background: #ffd04f;
  float: right;
} 




p.text3:after {
}

img {}